[user]
	email = rodrigommpereira309@gmail.com
	name = eivarin
[core]
	editor = vim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[http]
	postBuffer = 157286400
[init]
	defaultBranch = main
