/* * {
  all: unset;
} */

window#waybar {
  background: rgba(0, 0, 0, 0);
}

window#waybar > box > box > widget > *,
#workspaces > button,
#cpu,
#memory,
#disk,
#powermenu .module {
  background: alpha(#222222, 0.6);
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  margin: 0 3px;
  padding: 0 4px;
}

window#waybar > box > box > widget > #workspaces,
window#waybar > box > box > widget > #perf,
window#waybar > box > box > widget > #powermenu {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

/* WORKSPACES SPECIFIC */
#workspaces {
  margin: 0;
}

#workspaces > button {
  border: 1px solid rgba(0, 0, 0, 0);
}

#workspaces > button.active {
  border-color: #008cff;
}

#workspaces > button.special {
  border-color: #00ff37;
}

#workspaces .taskbar-window {
  margin: 3px 0px 3px 2px;
  padding: 0 2px;
  border-radius: 5px;
}

#workspaces button.special .taskbar-window {
  margin-left: 0;
}

#workspaces .taskbar-window label {
  margin-right: 2.5px;
}

#workspaces .taskbar-window image {
  margin: 2px;
}

#workspaces .taskbar-window.active {
  background: rgba(255, 255, 255, 0.2);
}

/* POWERMENU SPECIFIC */

#custom-poweroff {
  color: #ff0000;
}

#custom-reboot {
  color: #ffff00;
  padding: 0 5px;
}
#custom-lock {
  color: #0000ff;
}

/* BATTERY SPECIFIC */
#battery {
  border: 1px solid rgba(0, 0, 0, 0);
}

#battery.full {
  border-color: #00ff00;
}
#battery.good {
  border-color: #b3ff00;
}
#battery.medium {
  border-color: #ffff00;
}
#battery.warning {
  border-color: #ff5e00;
}
#battery.critical {
  border-color: #ff0000;
}

@keyframes blinkCharging {
  to {
    color: #ffffff;
  }
}

#battery.charging {
  color: #008cff;
  animation-name: blinkCharging;
  animation-duration: 1s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blinkNotCharging {
  to {
    border-color: rgba(0, 0, 0, 0);
    color: #ffffff;
  }
}

#battery.critical:not(.charging) {
  border-color: #ff0000;
  color: #ff0000;
  animation-name: blinkNotCharging;
  animation-duration: 1s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* PULSEAUDIO SPECIFIC */

#pulseaudio {
  padding: 0 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}

#pulseaudio.muted {
  color: #ff0000;
}

#pulseaudio.bluetooth {
  color: #008cff;
}

#pulseaudio-slider,
#backlight-slider {
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0 5px;
  outline: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider slider,
#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  margin: 0;
  background-color: #008cff;
  background-image: none;
  border: none;
  box-shadow: none;
  transition: margin 0.2s linear;
}

#pulseaudio-slider:hover slider,
#backlight-slider:hover slider {
  margin: -5px;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-height: 6px;
  min-width: 80px;
  border-radius: 5px;
  background-color: black;
}
#pulseaudio-slider highlight {
  /* min-width: 1px; */
  border-radius: 5px;
  background-color: green;
  transition: all 0.2s ease;
}

#backlight-slider highlight {
  border-radius: 5px;
  background-color: white;
  transition: all 0.2s ease;
}

#pulseaudioGrp {
  padding: 0px;
}

/* NETWORK SPECIFIC */

#network {
  border: 1px solid #00ff00;
}

#network.disconnected {
  border-color: rgba(0, 0, 0, 0);
}

#network.disabled {
  border-color: rgba(255, 0, 0, 0.5);
}

/* TOOLTIP SPECIFIC */
tooltip {
  background: alpha(#222222, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  margin: 0 3px;
}

/* FOR TESTING PURPOSES ONLY. ignored when built */
* {
  font-family: "Hurmit Nerd Font Propo";
  font-size: 12px;
}

/* .modules-left {
    padding: 0px;
    margin:10 0 5 10;
    border-radius:10px;
    background: alpha(#222222,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding: 0px;
    margin:10 0 5 0;
    border-radius:10px;
    background: alpha(#222222,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:0px;
    margin: 10 10 5 0;
    border-radius:10px;
    background: alpha(#222222,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
} */
